body{
    font-family:Arial ,sans-serif;
    text-align:center;
    margin-top:80px;
}
input{
    padding:8px;
    width:200px;
    margin:10px;
    border:1pxsolid#888;
    border-radius:5px;
}
button{
    padding:10px 20px;
    background:#4a5cff;
    border:none;
    color:white;
    font-size:16px;
    border-radius :6px;
    cursor:pointer;
}
button:hover{
    background: #3a4de0;
  
  }
    #result{
    margin-top:25px;
    font-size:30px;
    font-weight:bold;
}